.footer {
    background-color: #000000;
    height: 50px;
    display: flex;
    align-items: center;
}

.footer img {
    height: 40px;
    margin-left: 5px;
}

.footer p {
    margin-left: 20px;
    font-weight: bold;
}

.footer a {
    margin-right: 0;
}