.navbar {
    background-color: #000000;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links {
    display: inline-block;
    right: 50px;
    position: absolute;
  }
  
  .nav-link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.2s;
    margin-left: 20px;
  }
  
  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .hamburgerMenu {
    all: unset;
    color: white;
    display: none;
  }

  @media (max-width: 940px) {
    .navbar-links {
      display: none;
    }

    @keyframes rollIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .navbar-links.menuOpen {
      display: block;
      width: 150px;
      position: absolute;
      right: 0;
      margin-right: 0;
      background-color: #000000;
      margin-top: 400px;
      padding-top: 10px;
      padding-bottom: 20px;
      z-index: 100;
      animation: rollIn .3s ease-in;
    }

    .navbar-links.menuOpen a {
      display: block;
      margin-bottom: 10px;
    }

    .hamburgerMenu {
      display: inline;
    }

    .hamburgerMenu:hover {
      cursor: pointer;
    }
  }

  @media (max-width: 450px) {
    .navbar-links.menuOpen {
      margin-top: 360px;
    }
  }